@model ProductViewModel
@{
    ViewData["Title"] = $"Product N.{Model.Id}";
}
<div class="row">
    <div class="col-2">
        <div class="card-header">
            @ViewData["Title"]
        </div>
        <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    @Model.Name-@Model.Price lv.
                </li> 
        </ul>
    </div>
</div>