@model IEnumerable<ProductViewModel>
@{
    ViewData["Title"] = "All Products";
}
<h2>@ViewData["Title"]</h2>
<div class="row">
    <div class="col-2">
        <div class="card-header">
            @ViewData["Title"]
        </div>
        <ul class="list-group list-group-flush">
            @foreach (var product in Model)
            {

                <li class="list-group-item">
                    N.@product.Id-
                    @product.Name-@product.Price lv.
                </li>
            }
        </ul>
    </div>

</div>