@{
    ViewData["Title"] = "About page";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewBag.Message</h3>
<p>This is About page for our first ASP.NET Core MVC app.</p>
@*
    <a asp-controller="Home" asp-action="Index">Go to Home page</a>
*@
 
<a asp-controller="Home" asp-action="Index" class="btn btn-danger">Go to home page</a>
